/* ESTILOS */

body {
    background-color: #f8f9fa;
}

.navbar {
    border-bottom: 1px solid #eee;
}

.nav-link {
    font-weight: 600 !important;
}

.navbar-brand{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo-store{
    background: #02B3BB;
    background: radial-gradient(circle,rgba(2, 179, 187, 1) 0%, rgba(0, 80, 126, 1) 50%);
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

#heroCarousel .carousel-control-prev {
    left: -10px;
}

#heroCarousel .carousel-control-next {
    right: -10px; 
}
#heroCarousel .carousel-control-next-icon {
    height: 30px;
}
#heroCarousel .carousel-control-prev-icon {
    height: 30px;
}

@media (min-width: 992px) {
    #heroCarousel .carousel-control-prev {
        left: -30px;
    }

    #heroCarousel .carousel-control-next {
        right: -30px;
    }
}

.card-hover-lift {
    transition: transform 0.25s ease-out, box-shadow 0.25s ease-out;
}

.card-hover-lift:hover {
    transform: translateY(-5px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important; 
}



.btn-agregar:hover {
    background: #02B3BB;
    background: radial-gradient(circle, rgba(2, 179, 187, 1) 0%, rgba(0, 80, 126, 1) 50%);
}
.btn-dark {
    border: none;
    transition: background-color 0.3s ease;
}

.btn-dark:hover {
    background-color: #333;
}

.rounded-4 {
    border-radius: 1rem !important;
}

footer {
    border-top: 5px solid #000;
}

body {
    background-color: #f8f9fa;
}

.navbar {
    border-bottom: 1px solid #eee;
}

.nav-link {
    font-weight: 600;
}

.nav-link:hover{
    text-decoration:underline;
}

.navbar-brand{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo-store{
    background: #02B3BB;
    background: radial-gradient(circle,rgba(2, 179, 187, 1) 0%, rgba(0, 80, 126, 1) 50%);
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

#heroCarousel .carousel-control-prev {
    left: -10px;
}

#heroCarousel .carousel-control-next {
    right: -10px; 
}
#heroCarousel .carousel-control-next-icon {
    height: 30px;
}
#heroCarousel .carousel-control-prev-icon {
    height: 30px;
}

@media (min-width: 992px) {
    #heroCarousel .carousel-control-prev {
        left: -30px;
    }

    #heroCarousel .carousel-control-next {
        right: -30px;
    }
}

main{
    margin-top: 100px;
}

.card-hover-lift {
    transition: transform 0.25s ease-out, box-shadow 0.25s ease-out;
}

.card-hover-lift:hover {
    transform: translateY(-5px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important; 
}
.btn-dark {
    border: none;
    transition: background-color 0.3s ease;
}

.btn-dark:hover {
    background-color: #333;
}

.rounded-4 {
    border-radius: 1rem !important;
}

.btn-cantidad{
    width: 1.8rem;    
    height: 1.8rem;    
    padding: 0;       

    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;  
}